<div fxShow="true" fxHide.lt-sm="true">
        <mat-toolbar color="primary">
                <a routerLink="{{ home }}" mat-button>Netube</a>
                <a routerLink="{{ features }}" mat-button>Features</a>
                <a routerLink="{{ documentation }}" mat-button>Documentation</a>
                <a routerLink="{{ download }}" mat-button>Download</a>
                <a routerLink="{{ help }}" mat-button>Help</a>
                <span class="fill-remaining-space"></span>
                <a routerLink="{{ sources }}" mat-button>Source Code</a>
        </mat-toolbar>
</div>

<mat-toolbar color="primary" fxLayout="column" fxHide.gt-xs="true">
        <mat-toolbar-row>
                <a routerLink="{{ home }}" mat-button>Netube</a>
                <span class="fill-remaining-space"></span>
                <a routerLink="{{ features }}" mat-button>Features</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <a routerLink="{{ documentation }}" mat-button>Documentation</a>
                <span class="fill-remaining-space"></span>
                <a routerLink="{{ help }}" mat-button>Help</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <a routerLink="{{ download }}" mat-button>Download</a>
                <span class="fill-remaining-space"></span>
                <a routerLink="{{ sources }}" mat-button>Source Code</a>
        </mat-toolbar-row>
</mat-toolbar>

<mat-card>
        <mat-card-content>
                <div class="center-align">
                        <div class="card-text-content">
                                Netube is an open source sock5 proxy tool.
                                <br>
                                A multi-platform lightweight network tool.
                        </div>
                </div>
        </mat-card-content>
</mat-card>
<mat-card>
        <div class="center-align">
                <mat-card-subtitle>Follow us on</mat-card-subtitle>
                <mat-card-content>
                        <a href="{{ netubeOnGithub }}" >
                                <img class="logo-mark" alt="Netube on GitHub" src="/images/mark-github.png"> Netube on Bitbucket
                        </a>
                        <br>
                        <a href="{{ netubeOnGithub }}" mat-button color="primary">
                                <img class="logo-mark" alt="Netube on GitHub" src="/images/mark-github.png"> Netube on GitHub
                        </a>
                        <br>
                        <a href="{{ netubeOnTwitter }}" mat-button color="primary">
                                <img class="logo-mark" alt="Netube on GitHub" src="/images/mark-twitter.png"> Netube on Twitter
                        </a>
                        <br>
                        <a href="{{ netubeOnMedium }}" mat-button color="primary">
                                <img class="logo-mark" alt="Netube on GitHub" src="/images/mark-medium.png"> Netube on Medium
                        </a>
                </mat-card-content>
        </div>
</mat-card>

<mat-card>
        <mat-card-content>
                <div class="center-align">
                        <div class="card-text-content">
                                Win win win! We're going to win so mush! Make America Great Again! I'm a very stable
                                genius.
                        </div>
                </div>
        </mat-card-content>
</mat-card>

<div fxShow="true" fxHide.lt-sm="true">
        <mat-toolbar color="primary">
                <a routerLink="{{ about }}" mat-button>About</a>
                <a routerLink="{{ blog }}" mat-button>Blog</a>
                <a routerLink="{{ privacy }}" mat-button>Privacy Policy</a>
                <a routerLink="{{ terms }}" mat-button>Terms of Use</a>
                <span class="fill-remaining-space"></span>
                <div class="footer-note-text">
                        Copyright © {{ displayCurrentYear() }} <a class="light-color" href="https://djeung.org">Bing Djeung</a>
                        <br>
                        Documents licensed under <a class="light-color" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                </div>
        </mat-toolbar>
</div>

<mat-toolbar color="primary" fxLayout="column" fxHide.gt-xs="true">
        <mat-toolbar-row>
                <a routerLink="{{ about }}" mat-button>About</a>
                <span class="fill-remaining-space"></span>
                <a routerLink="{{ blog }}" mat-button>Blog</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <a routerLink="{{ privacy }}" mat-button>Privacy Policy</a>
                <span class="fill-remaining-space"></span>
                <a routerLink="{{ terms }}" mat-button>Terms of Use</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
                <span class="fill-remaining-space"></span>
                <div class="footer-note-text">
                        Copyright © {{ displayCurrentYear() }} <a class="light-color" href="https://djeung.org">Bing Djeung</a>
                        <br>
                        Documents licensed under <a class="light-color" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                </div>
                <span class="fill-remaining-space"></span>
        </mat-toolbar-row>
</mat-toolbar>
