<ul class="toolbar" fxShow="true" fxHide.lt-sm="true">
        <li class="float-left">
                <a class="menu-button" routerLink="{{ home }}">Netube</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ features }}">Features</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ documentation }}">Documentation</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ download }}">Download</a>
        </li>
        <li class="float-right">
                <a class="menu-button" routerLink="{{ sources }}">Source Code</a>
        </li>
</ul>
<ul class="toolbar" fxHide.gt-xs="true">
        <li class="float-right">
                <a class="menu-button" routerLink="{{ sources }}">Source Code</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ home }}">Netube</a>
        </li>
        <li class="float-right">
                <a class="menu-button" routerLink="{{ documentation }}">Documentation</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ features }}">Features</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ download }}">Download</a>
        </li>
</ul>

<div class="card-empty"></div>
<div class="card">
        Netube is an open source sock5 proxy tool.
        <br>
        A multi-platform lightweight network tool.
</div>

<div class="card-empty"></div>

<div class="card">
        Follow us on
        <br>
        <br>
        <div class="inline-block">
                <a class="link-button" href="{{ netubeOnGithub }}">
                        <img class="logo-mark" alt="netube on github" src="images/mark-github.png">
                        GitHub
                </a>
                <a class="link-button"></a>
                <a class="link-button" href="{{ netubeOnBitbucket }}">
                        <img class="logo-mark" alt="netube on bitbucket" src="images/mark-github.png">
                        Bitbucket
                </a>
                <br>
                <a class="link-button" href="{{ netubeOnTwitter }}">
                        <img class="logo-mark" alt="netube on twitter" src="images/mark-twitter.png">
                        Twitter
                </a>
                <a class="link-button"></a>
                <a class="link-button" href="{{ netubeOnMedium }}">
                        <img class="logo-mark" alt="netube on medium" src="images/mark-medium.png">
                        Medium
                </a>
        </div>
</div>

<div class="card-empty"></div>

<div class="card">
        Win win win!
        <br>
        We're going to win so much!
        <br>
        Make America Great Again!
        <br>
        I'm a very stable genius.
</div>
<div class="card-empty"></div>

<ul class="toolbar absolute-position" fxShow="true" fxHide.lt-sm="true">
        <li class="float-left">
                <a class="menu-button" routerLink="{{ about }}">About</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ blog }}">Blog</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ privacy }}">Privacy Policy</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ terms }}">Terms of Use</a>
        </li>
        <li class="float-right">
                <div class="footer-note-text">
                        Copyright © {{ copyrightYears }} <a class="light-color" href="{{ djeung }}">Bing Djeung</a>
                        <br>
                        Documents licensed under <a class="light-color" href="{{ ccBy4Link }}">CC BY 4.0</a>
                </div>
        </li>
</ul>
<ul class="toolbar absolute-position" fxHide.gt-xs="true">
        <li class="float-right">
                <a class="menu-button" routerLink="{{ blog }}">Blog</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ about }}">About</a>
        </li>
        <li class="float-right">
                <a class="menu-button" routerLink="{{ terms }}">Terms of Use</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ privacy }}">Privacy Policy</a>
        </li>
        <li>
                <div class="footer-note-text-mobile">
                        Copyright © {{ copyrightYears }} <a class="light-color" href="{{ djeung }}">Bing Djeung</a>
                        <br>
                        Documents licensed under <a class="light-color" href="{{ ccBy4Link }}">CC BY 4.0</a>
                </div>
        </li>
</ul>
