.fill-remaining-space {
        flex: 1 1 auto;
}

.float-left {
        float: left;
}
.float-right {
        float: right;
}

.absolute-position {
        position: absolute;
}

ul.toolbar {
        display: inline-block;
        background-color: #404040;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
}

img.logo-mark {
        width: 1.2em;
        padding-right: 0.3em;
}
img.store-badge {
        width: 6em;
}

img.card-image {
        width: 100%;
}

div.center-align {
        text-align: center;
}

div.card-text-content {
        font-size: 1.1em;
        line-height: 1.6em;
        padding-top: 3em;
        padding-bottom: 3em;
}
div.heading-card-text-content {
        font-size: 1.1em;
        line-height: 1.6em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
}

div.footer-note-text {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 0.6em;
        line-height: 1.6em;
        color: #ffffff;
}
div.footer-note-text-mobile {
        text-align: center;
        padding-bottom: 4em;
        font-size: 0.6em;
        line-height: 1.6em;
        color: #ffffff;
}

div.markdown-content {
        padding-left: 15%;
        padding-right: 15%;
}

a.light-color {
        text-decoration: none;
        color: #ffffff;
}
a.light-color:hover {
        color: #eeeeee;
}

a.menu-button {
        display: inline-block;
        font-size: 0.8em;
        font-weight: normal;
        color: #ffffff;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
}
a.menu-button:hover {
        color: #eeeeee;
}
