html, body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
        line-height: 1.6em;
}

pre, code {
        font-family: "SF Mono", "Roboto Mono", "Liberation Mono", Consolas, Menlo, monospace;
}
pre {
        overflow: auto;
        white-space: pre;
        padding: 2em;
        line-height: 1.6em;
}

a {
        text-decoration: none;
        color: #1F9BF3;
}

hr {
        border: none;
        border-bottom: 1px solid #cccccc;
}

@media(prefers-color-scheme: light) {
        html, body {
                color: black;
                background: white;
        }
        a:hover {
                color: black;
        }
        pre, code {
                background-color: #eeeeee;
        }
}
@media(prefers-color-scheme: dark) {
        html, body {
                color: white;
                background: #232323;
        }
        a:hover {
                color: white;
        }
        pre, code {
                background-color: #151515;
        }
}
@media(prefers-color-scheme: no-preference) {
        html, body {
                color: black;
                background: white;
        }
        a:hover {
                color: black;
        }
        pre, code {
                background-color: #eeeeee;
        }
}
