<ul class="toolbar" fxShow="true" fxHide.lt-sm="true">
        <li class="float-left">
                <a class="menu-button" routerLink="{{ home }}">Netube</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ features }}">Features</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ documentation }}">Documentation</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ download }}">Download</a>
        </li>
        <li class="float-right">
                <a class="menu-button" routerLink="{{ sources }}">Source Code</a>
        </li>
</ul>
<ul class="toolbar" fxHide.gt-xs="true">
        <li class="float-right">
                <a class="menu-button" routerLink="{{ sources }}">Source Code</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ home }}">Netube</a>
        </li>
        <li class="float-right">
                <a class="menu-button" routerLink="{{ documentation }}">Documentation</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ features }}">Features</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ download }}">Download</a>
        </li>
</ul>

<div class="card-empty"></div>
<div class="card">
        Netube is an open source sock5 proxy tool.
        <br>
        A multi-platform lightweight network tool.
</div>
<div class="card-empty"></div>

<div class="card">Netube desktop client apps</div>
<div fxLayout fxLayout.lt-sm="column" fxLayoutAlign="center">
        <div class="card-component" fxFlex="33%">
                <a href="{{ download }}/android">Netube for Android</a>
                <br>
                <a href="{{ netubeOnGooglePlay }}">
                        <img class="store-badge" alt="Netube on Google Play Store" src="/images/badge-google-play.png">
                </a>
                <br>
                <a href="{{ download }}/android">
                        <img class="card-image" alt="Netube for Android" src="images/screenshot-android.png">
                </a>
                <br>
                Android 10+
                <br>
                <a class="link-button" href="{{ sources }}/android">
                        <img class="logo-mark" alt="Netube Android Source Code" src="/images/icon-source-code.png">
                        Source Code
                </a>
                <a class="link-button" href="{{ netubeOnGithub }}/netube/netube-android">
                        <img class="logo-mark" alt="netube-android-github" src="images/mark-github.png">
                        GitHub
                </a>
        </div>
        <div class="card-component" fxFlex="33%">
                <a href="{{ download }}/ios">Netube for iOS</a>
                <br>
                <a href="{{ netubeOnAppStore }}">
                        <img class="store-badge" alt="Netube on App Store" src="/images/badge-app-store.png">
                </a>
                <br>
                <a href="{{ download }}/ios">
                        <img class="card-image" alt="Netube for iOS" src="images/screenshot-iphone-x.png">
                </a>
                <br>
                iOS 13+
                <br>
                <a class="link-button" href="{{ sources }}/ios">
                        <img class="logo-mark" alt="Netube iOS Source Code" src="/images/icon-source-code.png">
                        Source Code
                </a>
                <a class="link-button" href="{{ netubeOnGithub }}/netube/netube-ios">
                        <img class="logo-mark" alt="netube-android-github" src="images/mark-github.png">
                        GitHub
                </a>
        </div>
        <div class="card-component" fxFlex="33%">
                <a href="{{ download }}/android">Netube for macOS</a>
                <br>
                <a href="{{ netubeOnMacAppStore }}">
                        <img class="store-badge" alt="Netube on Mac App Store" src="/images/badge-mac-app-store.png">
                </a>
                <br>
                <a href="{{ download }}/macosx">
                        <img class="card-image" alt="Netube for macOS" src="images/netube-logo.png">
                </a>
                <br>
                macOS 10.15+
                <br>
                <a class="link-button" href="{{ sources }}/macosx">
                        <img class="logo-mark" alt="Netube macOS Source Code" src="/images/icon-source-code.png">
                        Source Code
                </a>
                <a class="link-button" href="{{ netubeOnGithub }}/netube/netube-macosx">
                        <img class="logo-mark" alt="netube-android-github" src="images/mark-github.png">
                        GitHub
                </a>
        </div>
</div>
<div class="card-empty"></div>

<div class="card-empty"></div>

<div class="card">
        Win win win! We're going to win so much!
        <br>
        Make America Great Again!
        <br>
        I'm a very stable genius.
</div>
<div class="card-empty"></div>

<ul class="toolbar absolute-position" fxShow="true" fxHide.lt-sm="true">
        <li class="float-left">
                <a class="menu-button" routerLink="{{ about }}">About</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ blog }}">Blog</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ privacy }}">Privacy</a>
        </li>
        <li class="float-left">
                <a class="menu-button" routerLink="{{ terms }}">Terms of Use</a>
        </li>
        <li class="float-right">
                <div class="footer-note-text">
                        Copyright © {{ copyrightYears }} <a class="light-color" href="{{ djeung }}">Bing Djeung</a>
                        <br>
                        Documents licensed under <a class="light-color" href="{{ ccBy4Link }}">CC BY 4.0</a>
                </div>
        </li>
</ul>
<ul class="toolbar absolute-position" fxHide.gt-xs="true">
        <li class="float-right">
                <a class="menu-button" routerLink="{{ blog }}">Blog</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ about }}">About</a>
        </li>
        <li class="float-right">
                <a class="menu-button" routerLink="{{ terms }}">Terms of Use</a>
        </li>
        <li>
                <a class="menu-button" routerLink="{{ privacy }}">Privacy</a>
        </li>
        <li>
                <div class="footer-note-text-mobile">
                        Copyright © {{ copyrightYears }} <a class="light-color" href="{{ djeung }}">Bing Djeung</a>
                        <br>
                        Documents licensed under <a class="light-color" href="{{ ccBy4Link }}">CC BY 4.0</a>
                </div>
        </li>
</ul>
